# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Docker
*.log
docker-compose.override.yml
docker-compose.override.yml

# Environnement
.env

# VSCode
.vscode/

# PyCharm
.idea/

# JetBrains
*.iml